<header>
     <div class="container d-flex align-items-center justify-content-between">
          <button class="btn shadow-none border-0 rounded-0">
               <img loading="lazy" src="assets/icons/circle-left.svg" alt="User Management System">
          </button>
          <div class="d-flex align-items-center">
               <div class="form-group position-relative">
                    <input type="text" name="search" placeholder="Search...">
                    <img class="position-absolute top-50 translate-middle-y" loading="lazy" src="assets/icons/search.svg" alt="User Management System">
               </div>
               <img loading="lazy" src="assets/icons/bell.svg" alt="User Management System">
          </div>
     </div>
</header>